header{
	background: url(../img/Hogwarts.jpg) no-repeat center top / cover;
	height: 880px;
}

body{
	padding: 0;
	margin: 0;
}

.title{
	font-size: 32px; 
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top:200px; 
}

.authorizationForm{
	font-size: 18px; 
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top:20px;
}

.button{
	padding-top:20px;
	text-align: center;
}