header{
	background: url(../img/Hogwarts-lecturer.jpg) no-repeat center top / cover;
	height: 210px;
	color: white;
	font-size: 18px;
}

body{
	padding: 0px;
	margin: 0px;
}

.title{
	font-size: 32px; 
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px; 
}

.greeting{
	text-align: center;
	padding-top: 40px;
	font-size: 22px;
}

.menu{
	height:40px;
	padding: 0px;
	margin: 0px;
	background:#a9a9a9;
}

.menu li{
	padding-top: 10px;
	padding-left: 10px; 
	display: inline-block;
	font-size: 18px;
	font-weight: bold;	
}


.table tr td{
	padding-left: 10px;
	width: 170px;
}

.studentComment{
	height: 40px;
	width: 600px ;
}
