header{
	background: url(../img/Hogwarts.jpg) no-repeat center top / cover;
	height: 880px;
	color: white;
	font-size: 18px;
}

body{
	padding: 0;
	margin: 0;
}

.title{
	font-size: 32px; 
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top:150px; 
}
			
.table{  
  border-collapse: collapse;
  width: 100%;
}

.sendButton{
	margin-left: 253px;
}

.form{
	margin-left: 37%;
	height: 200px;
	width: 480px;
}

.fieldset{
	width: 360px;
	height: 200px;
	padding: 10px 0px 15px 20px;				
}

.select{
	height: 23px;
	width: 161px;
}