header{
	background: url(../img/Hogwarts-student.jpg) no-repeat center top / cover;
	height: 880px;
	color: white;
	font-size: 18px;
}

body{
	padding: 0;
	margin: 0;
}

.title{
	font-size: 32px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top:50px;
}

.greeting{
	width: 600px;
	margin: 0 auto;
	text-align: justify;
	text-indent: 40px;
}

.subjectsTable{
	margin: 0 auto;
	width: 600px;
}

.tableTitle{
	margin: 0 auto;
	width: 600px;
	padding-left: 21px;
}

.fieldset{
	width: 600px;
	margin: 0 auto;
	border: 0px;
}

.sendButton{
	margin: 10px;
	float: right;
}